.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav.nav-bar {
    background: #293a4a;
    margin-bottom: 150px;
    color: white;
}

nav.nav-bar .navbar-brand {
    color: white;
}

.page {
    background: #fff;
    color: #000;
    width: 21cm;
    height: 29.7cm;
    padding: 2cm;
    display: block;
    margin: 100px auto;
    margin-bottom: 0.5cm;
    box-shadow: 1px 2px 3px #ddd;
    font-size: 24px;
    outline: none;
    border: 2px solid #d8d0d0;
    border-radius: 1px;
}

.container {
    margin: 0 auto !important;
    width: 100% !important;
}

.sentences-list {
    position: absolute;
    border: 1px solid #d8d0d0;
    width: 350px;
    /*background: #F9F9F9;*/
    background: #FFFFFF;
    box-shadow: 3px 3px 2px #E9E9E9;
    border-radius: 4px;
}

.sentences {
    margin: 0;
    margin-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    font-size: 17px;
    color: #00ae84;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.sentences li {
    padding: 3px 7px;
    list-style-type: none;
}

.sentences :hover {
    color: white;
    background: #00ae84;
    border-radius: 2px;
}

.sentences-list hr {
    width: 85%;
    background-color: #E4E4E4;
    border-color: #E4E4E4;
    color: #E4E4E4;
}

.hidden {
    display: none;
}
