.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav.nav-bar {
    background: #293a4a;
    margin-bottom: 10px;
    color: white;
}

nav.nav-bar .navbar-brand {
    color: white;
}

h1.appTitle {
    margin-bottom: 15px;
}

.page {
    background: #fff;
    color: #000;
    /*width: 21cm;*/
    min-height: 29.7cm;
    padding: 2cm;
    display: block;
    margin: 7px auto;
    margin-bottom: 0.5cm;
    box-shadow: 1px 2px 3px #ddd;
    font-size: 28px;
    outline: none;
    border: 2px solid #d8d0d0;
    border-radius: 1px;
    font-family: "Computer Modern Serif", serif;
    line-height: initial;
    text-align: justify;
}

.container {
    margin: 0 auto !important;
    width: 100% !important;
}

.sentences-list {
    position: absolute;
    border: 1px solid #d8d0d0;
    width: 550px;
    /*background: #F9F9F9;*/
    background: #FFFFFF;
    box-shadow: 3px 3px 2px #E9E9E9;
    border-radius: 4px;
}

.sentences {
    margin: 0;
    margin-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    font-size: 2.5vh;
    color: #00ae84;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.sentences li {
    padding: 10px 7px;
    list-style-type: none;
}

.single-word {
    padding: 10px 3px;
}

/*.sentences :hover {*/
/*color: white;*/
/*background: #00ae84;*/
/*border-radius: 2px;*/
/*}*/

.sentences .selection {
    color: white;
    background: #00ae84;
}

.sentences .selection .first {
    border-radius: 2px;
}

.sentences .selection .last {
    border-radius: 2px;
}

.sentences-list hr {
    width: 85%;
    background-color: #E4E4E4;
    border-color: #E4E4E4;
    color: #E4E4E4;
}

.hidden {
    display: none;
}

.styleSelector {
    margin: 5px auto 10px auto;
}

.currentStyleHeader {
    margin-left: 10px;
    margin-right: 3px;
    font-size: 18px;
}

#caretIndicator {
    display: inline-block;
}

.word {
    display: inline-block;
}

.words {
    display: inline-block;
}

.words .ending {
    font-weight: bold;
}

.words .beginning {
    font-weight: normal;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

span.label {
    font-size: 20px;
    margin-right: 5px;
    /*white-space: normal;*/
}

.caption span.label {
    font-size: 16px;
}

.keywords {
    border-bottom: 4px dashed #abc9ff;
    border-top: 4px dashed #abc9ff;
    margin: 15px 0 10px;
    padding: 15px 0 0;
}

.one-label {
    display: inline-block;
    margin-bottom: 15px;
}

.thumbnail > img, .thumbnail a > img {
    width: 100%;
}

.sentiment-icon-positive, .sentiment-icon-neutral {
    color: #4582ec;
}

.sentiment-icon-objective, .sentiment-icon-neutral {
    color: #4582ec;
}

.sentiment-icon-negative {
    color: #ffb42c;
}

.sentiment-icon-subjective {
    color: #ffb42c;
}

.sentiment-sentence {
    margin: 5px 5px;
    text-align: left;
    font-family: "Computer Modern Serif", serif;
    font-size: 22px;
}

table {
    margin-top: 10px;
}

table th {
    min-width: 110px;
}

table td {
    text-align: center;
}

table th {
    background-color: white;
    color: #00ae84;
    font-size: 20px;
}

.table.table-condensed > thead > tr > th {
    padding: 10px;
}

.table.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #e7edf9;
}

.table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: white;
}

table th.sentiment-number-header {
    min-width: initial;
}

.sentiment-sentence.sentiment-number {
    text-align: center;
}

.sentiment-overview {
    font-size: 20px;
    margin: 20px 0;
}

.entityHighlight {
    background-color: yellow;
}

.entityButton {
    margin: 15px 10px 15px 0;
}

.entityText {
    text-align: justify;
    font-size: 26px;
    margin: 15px 0;
    background-color: #e0e0e0;
    border: 2px solid #cccbcb;
    padding: 10px;
}